USE [master]
GO
/****** Object:  Database [TRPOPR]    Script Date: 05.11.2020 19:22:39 ******/
CREATE DATABASE [TRPOPR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TRPOPR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TRPOPR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TRPOPR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TRPOPR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TRPOPR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TRPOPR]
GO
/****** Object:  Table [dbo].[angles]    Script Date: 05.11.2020 19:22:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[angles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[segment1] [int] NOT NULL,
	[segment2] [int] NOT NULL,
 CONSTRAINT [PK_angles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relations]    Script Date: 05.11.2020 19:22:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[segment_ID] [int] NULL,
	[relation1] [int] NOT NULL,
	[relation2] [int] NOT NULL,
 CONSTRAINT [PK_Relations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[segments]    Script Date: 05.11.2020 19:22:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[segments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[x1] [float] NOT NULL,
	[x2] [float] NOT NULL,
	[y1] [float] NOT NULL,
	[y2] [float] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_segments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[angles]  WITH CHECK ADD  CONSTRAINT [FK_angles_segments] FOREIGN KEY([segment1])
REFERENCES [dbo].[segments] ([id])
GO
ALTER TABLE [dbo].[angles] CHECK CONSTRAINT [FK_angles_segments]
GO
ALTER TABLE [dbo].[angles]  WITH CHECK ADD  CONSTRAINT [FK_angles_segments1] FOREIGN KEY([segment2])
REFERENCES [dbo].[segments] ([id])
GO
ALTER TABLE [dbo].[angles] CHECK CONSTRAINT [FK_angles_segments1]
GO
ALTER TABLE [dbo].[Relations]  WITH CHECK ADD  CONSTRAINT [FK_Relations_segments] FOREIGN KEY([segment_ID])
REFERENCES [dbo].[segments] ([id])
GO
ALTER TABLE [dbo].[Relations] CHECK CONSTRAINT [FK_Relations_segments]
GO
USE [master]
GO
